body { 
    color: white;
    font-family: monospace;
}

#login-form {
    width: 50%;
    margin: 0 auto;
}

#username-prompt {
    display: block;
    width: 160px;
    margin-bottom: 10px;
}

#password-prompt {
    width: 160px;
}

#login-button {
    display: inline;
    text-align: center;
}